@use "variables" as *;

.about {
  padding: 150px 0;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  &-card {
    display: flex;
    gap: 84px;
    align-items: center;
  }

  &-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-img {
    border-radius: 20px;
  }
}
@media (max-width: 1100px) {
  .about-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-content {
      p {
        max-width: 500px;
      }
    }
  }
}
@media (max-width: 600px) {
  .about-img {
    width: 100% !important;
  }
  .about-card {
    gap: 30px;
  }
}
