@use "variables" as *;

.cost-sessions {
  padding: 100px 0;
}
.cost-wrapper {
  h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: $secondaryFont;
    text-align: center;
    margin-bottom: 100px;
  }
}

.cost {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.cost-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 134px;
}

.cost-card {
  display: flex;
  align-items: center;
  gap: 70px;
}

@media (max-width: 1024px) {
  .cost-box {
    flex-direction: column-reverse;
    gap: 50px;
  }
}

@media (max-width: 570px) {
  .cost-img {
    width: 100%;
  }
  .cost-wrapper {
    h1 {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }
}
