@use "variables" as *;

.cost-sessions {
  padding: 100px 0;
}
.cost-wrapper {
  h1 {
    font-size: 42px;
    font-weight: 700;
    font-family: $secondaryFont;
    text-align: center;
    margin-bottom: 100px;
  }
}

.cost {
  display: flex;
  gap: 40px;

  align-items: center;
  &1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &2 {
    font-family: $secondaryFont;
  }
}
.box {
  display: flex;
  gap: 134px;
  justify-content: center;
}
