@use "variables" as *;

.hero {
  padding: 70px 0;
  &-wrapper {
    background-image: url("../images/hero-img.jpg");
    min-height: 600px;
    border-radius: 10px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    padding-top: 136px;
    width: 100%;
  }
  h5 {
    font-family: $secondaryFont;
    font-size: 24px;
    font-weight: 700;
  }
  h1 {
    font-family: $secondaryFont;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    max-width: 587px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .hero-wrapper {
    h1 {
      font-size: 35px;
      line-height: 45px;
    }
  }
}
