@use "variables" as *;

.info {
  padding: 100px 0;
}
.info-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: auto;

  gap: 48px;
}
.info-map {
  border-radius: 10px;
}

.info-cards {
  display: flex;
  gap: 25px;
  flex-direction: column;

  .info-card {
    background-color: $primaryColor;
    padding: 45px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 21px;

    button {
      border-radius: 3px;
      padding: 9px 15px;
      font-weight: 600;
      font-size: 13px;
      background-color: #fff;
      border: none;
      color: $primaryColor;
      width: max-content;
    }

    h1 {
      font-size: 24px;
      font-weight: 700;
      font-family: $secondaryFont;
    }

    span {
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.info-img {
  height: auto !important;
}

@media (max-width: 1220px) {
  .info-wrapper {
    grid-template-columns: 1fr;
  }
  .info-img {
    width: 100%;
  }
  .info-cards {
    flex-direction: row;
  }
  .info-card {
    width: 50%;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .info-cards {
    flex-direction: column;
  }
  .info-card {
    width: 100%;
  }
}
