@use "variables" as *;

.navbar {
  padding: 30px 0;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-links {
    display: flex;
    gap: 50px;
    align-items: center;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &-btn {
    background-color: $primaryColor;
    border: none;
    color: #fff;
    padding: 9px 15px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 3px;
  }
}

@media (max-width: 1100px) {
  .navbar-links {
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .navbar-links {
    display: none;
  }
}
