@use "variables" as *;
@use "navbar" as *;
@use "hero" as *;
@use "sessions" as *;
@use "about" as *;
@use "cost" as *;
@use "info" as *;
@use "footer" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
}

body {
  background-color: $bodyColor;
  color: #fff;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}
